.replenish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.replenish form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}